/**
 * main.js
 * 
 * sobird<i@sobird.me> at 2019-11-06 19:53:50 build.
 */

@font-face {
  font-family: 'iconfont';
  src:  url('./my-font.woff2') format('woff2'),
      url('./my-font.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wb-home:before {
  content: "\e61e";
}

 .hello {
  color: red;
  background: url('./icon.svg');
}